@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.highlightsection {
 font-weight: 600 !important;
    border-radius: 10px !important;
    left: 5px !important;
    
}

/* .higlightsection .introjs-tooltip {
    border-radius: 50px !important;
} */
.searchSection {
    bottom: 150px !important;
    left: 60px !important;
    border-radius: 20px;
    padding: 10px;
}
.searchSection>div>p {
    color: black !important;
    font-size: 16px !important;
    line-height: 22px !important;
    font-weight: 400 !important;
    padding:5px 5px;
}
.searchSection>div>p:nth-child(1) {
    text-align: center;
    font-weight: 600 !important;
}

.searchSection>div >p>span{
    font-weight: 600 !important;
    padding: 5px 0px !important;
    margin: 5px 0px !important;
   
}

.introjs-arrow.bottom {
display: none !important;
    
}

.introjs-bullets{
    display: none !important;
}
.introjs-tooltipbuttons>a{
    padding: 5px 10px !important;
    border-radius: 10px !important;
}
.introjs-tooltipbuttons{
    padding: 5px 10px !important;
}
.introjs-tooltip-header{
    display: none !important;
}
.introjs-tooltip {
    max-width: 800px !important;
    /* height: 563px !important; */
}