@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.introjs-overlay{
    background:rgba(0,0,0,0.7) !important;
    opacity: 0.6 !important;
    backdrop-filter: blur(6px) !important;
}

.highlightsection {
    font-weight: 600 !important;
    border-radius: 10px !important;
    left: 5px !important;
    bottom: 180px !important;

}

.arrow-youtube {

    width: 50px !important;
    height: 30px !important;

}

.searchSection {
    bottom: 150px !important;
    left: 60px !important;
    border-radius: 20px !important;
    padding: 8px;
}

.searchSection>div>div>p {
    color: black !important;
    font-size: 20px !important;
    line-height: 22px !important;
    font-weight: 400 !important;
    padding: 5px 5px;
}

.searchSection>div>div>p:nth-child(1) {
    text-align: center;
    font-weight: 600 !important;
    padding: 20px 0px !important;
}

.searchSection>div>div>p>span {
    font-weight: 600 !important;
    padding: 10px 0px !important;
    margin: 10px 0px !important;

}

.introjs-arrow.bottom {
    display: none !important;

}

.introjs-bullets {
    display: none !important;
}

.introjs-tooltipbuttons>a {
    padding: 5px 10px !important;
    border-radius: 10px !important;
}

.introjs-tooltipbuttons {
    padding: 5px 10px !important;
}

.introjs-tooltip-header {
    display: none !important;
}

.introjs-tooltip {
    max-width: 800px !important;
}

.customModalStyle {
    min-width: 48rem !important;
    background-color: transparent !important;
    margin-left: -250.794px !important;
    margin-top: -350.794px !important;
    box-shadow: none !important;
}


.customModalStyle>.introjs-tooltiptext {
    padding: 0px;
}

.customModalStyle>.introjs-tooltipbuttons {
    display: none;
}

.arrow {
    width: 50px !important;
    height: 110px !important;
}
.up-arrow {
    width: 50px !important;
    height: 110px !important;
}

.youtube-tutor>p{
    color: black !important;
    font-size: 20px !important;
    line-height: 22px !important;
    font-weight: 400 !important;
    padding: 5px 5px;
}
.youtube-tutor>p>span{
    font-weight: 600 !important;
    padding: 10px 0px !important;
    margin: 10px 0px !important;
}